@import './css/main.css';
@import './css/responsivity.css';
@import './css/modal.css';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Numans&display=swap';

@font-face {
    font-family: Abster;
    src: url(./Fonts/abster-500.otf);
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}