@import './css/header.css';
@import './css/main.css';
@import './css/footer.css';
@import './css/responsivity.css';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Numans&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
    font-family: Abster;
    src: url(./Fonts/abster-500.otf);
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
}