
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

::-webkit-scrollbar {
    width: 5px;
  }
    
    /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
    
    /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
  }

body {
    width: 100%;
    height: 100vh;
    background-image: url(../img/fundoo.png) ;
    background-size: cover;
    color: #fff;
    display: flex;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: transparent;
    width: 90%; 
    max-width: 800px;
    /* remover depois */


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questoes-conteiner {
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 24px;
}

.questao {
    font-size: 24px; 
    font-weight: bold; 
    text-align: center;
}

.respostas-container {
    width: 100%; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 16px;
}

.next-question {
    margin-top: 32px;
}

.botao{
    background-color: #6e0241;
    color: #fff;
    border: none;
    height: 48px;
    padding: 0 32px;
    border-radius: 10px;
    cursor: pointer;
    transition: filter 0.2s;
}

.botao:not(:disabled):hover {
    filter: brightness(0.8);
}

.esconder {
    display: none;
}

.correct {
    background-color: #049b48;
}

.incorrect {
    background-color: #a10101;
}

button:disabled {
    cursor: not-allowed;
}

.inicio {
    background-color: #0000007c;
    padding: 2rem;
    border-radius: .5rem;
    border: #fe2885 solid 1px;
}

.centro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: 100vh;
}


h2{
    font-size: 2rem;
    text-align: center;
    color: #fff;
    margin-block: 2rem;
}

p{
    font-size: 1rem;
    text-align: center;
}

img{
    width: 30rem;
}

.comeco{
    margin-top: 1rem;
    background-color: #6e0241;
    color: #fff;
    border: none;
    height: 48px;
    padding: 0 32px;
    border-radius: 10px;
    cursor: pointer;
    transition: filter 0.2s;
}

.comeco:not(:disabled):hover {
    filter: brightness(0.8);
}

.bsair{
    z-index: 99;
    margin-top: 5px;
    margin-left: 5px;
    height: 2rem;
    width: 4rem;
    border-radius: 10px;
    background-color: #a10101;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: #fff;
}
.sairr {
    z-index: 99;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.bsair:hover {
    z-index: 99;
    filter: brightness(0.8);
    cursor: pointer;
}

.sairr:hover {
    filter: brightness(1);
}

dialog{
    border: none;
    background: none;
    border-radius: 10px;
    top: 48%; 
    left: 50%; 
    transform: translate(-45%, -43.3%);
    padding: 1rem;
    background-color: #32004f;
}

.macarrao {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.ficar {
    background-color: #049b48;
    border: 0;
    border-radius: 10px;
    padding: 1rem;
    width: 10rem;
    margin-top: 1rem;
    margin-right: 5rem;
    margin-left: 1rem;
    transition: filter 0.2s;
}
.sair {
    margin-left: 5rem;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: 0;
    background-color: #a10101;
    margin-bottom: 2.5rem;
    transition: filter 0.2s;
}

.sair:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.ficar:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

.ancoras {
    font-size: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center
}

.final:not(.esconder) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}