*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


dialog{
    border: none;
    background: none;
    gap: 2.5rem;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.macarrao {
    display: flex;
    align-items: center;
    gap: 2rem;
}

dialog #imagem img{
    width: 12rem;
    border-radius: 50%;
    background-color: #2D4E77;
    border: solid 3px #fff;
}

dialog #texto{
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    align-items: center;
    background-color: #8F47AD;
    width: 35rem;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: cursive;
    font-size: 1.25rem;
    padding-block: 1.5rem;
    padding-inline: 4.5rem;
}

#voltar_inicio{
    background: none;
    border: solid 2px #fff;
    color: #fff;
    font-family: cursive;
    padding: .75rem;
    border-radius: 10px;
    margin-top: .5rem;
    font-size: 1.25rem;
    transition: .5s;
}

#fechar_modal_vitoria{
    background: none;
    border: solid 2px #fff;
    color: #fff;
    font-family: cursive;
    padding: .75rem;
    border-radius: 10px;
    margin-top: .5rem;
    font-size: 1.25rem;
    transition: .5s;
}


#fechar_modal_derrota{
    background: none;
    border: solid 2px #fff;
    color: #fff;
    font-family: cursive;
    padding: .75rem;
    border-radius: 10px;
    margin-top: .5rem;
    font-size: 1.25rem;
    transition: .5s;
}

#fechar_modal_inicial{
    background: none;
    border: solid 2px #fff;
    color: #fff;
    font-family: cursive;
    padding: .75rem;
    border-radius: 10px;
    margin-top: .5rem;
    font-size: 1.25rem;
    transition: .5s;
}

dialog #texto button:hover{
    cursor: pointer;
    text-decoration: underline;
}

.anny{
    background-color: #8c67a3;
}

.hector{
    background-color: #2D4E77;
}

.marcelo{
    background-color: #6E93BF;
}

.raquel{
    background-color: #705283;
}